<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- SQL 세션 객체 생성시, 적용될 마이바티스 동작 관련 설정 -->
    <settings>
        <!-- Second-Level 캐시 비활성화 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 지연 로딩 비활성화 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 컬럼명(스네이크 케이스 표기법) → 필드명(카멜 케이스 표기법) -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 컬럼 값이 NULL일 경우, 발생되는 값의 누락 방지 -->
        <setting name="callSettersOnNulls" value="true"/>
        <!-- 로컬 캐시 적용 범위: 매퍼의 액션(쿼리) 단위로 설정 -->
        <setting name="localCacheScope" value="STATEMENT"/>
        <!-- INSERT 또는 UPDATE시 NULL 값이 포함될 경우 그대로 NULL 사용 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
</configuration>